@{
  ViewData["Title"] = "Compañia aseguradora ";
}

<h1 class="fs-1 fw-lighter my-5">Compañía aseguradora page</h1>

<div class="d-flex w-100 justify-content-end">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success w-25 d-flex gap-2 align-items-center justify-content-center"
    id="btnOpenModal"
    data-bs-toggle="modal"
    data-bs-target="#registerModal"
    onclick="abrirModal()"
  >
    <box-icon type='solid' name='plus-circle' color="#fff"></box-icon>
    Registrar Compañia
  </button>
</div>

@* Table *@
<div id="table" class="table-responsive my-3"></div>

<!-- Modal de registro -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Formulario Compañía Aseguradora</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="modal-form" class="modal-body d-flex flex-column gap-2">
        <input type="text" name="ncompaniaid" id="ncompaniaid" class="form-control clear-data d-none" />
        <div>
          <label class="form-label fw-normal text-secondary">Razón Social: <span class="text-danger">*</span></label>
          <input type="text" name="ccompaniarazonsocial" id="ccompaniarazonsocial" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Descripción: <span class="text-danger">*</span></label>
          <textarea rows="3" type="text" name="ccompaniadescripcion" id="ccompaniadescripcion" class="form-control clear-data"></textarea>
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">RUC: <span class="text-danger">*</span></label>
          <input type="number" name="ccompaniaruc" id="ccompaniaruc" class="form-control clear-data" maxlength="11" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Contacto: <span class="text-danger">*</span></label>
          <input type="number" name="ccompaniacontacto" id="ccompaniacontacto" class="form-control clear-data" maxlength="9" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Celular: <span class="text-danger">*</span></label>
          <input type="number" name="ccompaniacelular" id="ccompaniacelular" class="form-control clear-data" maxlength="9" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Fecha de renovación: <span class="text-danger">*</span></label>
          <input type="date" name="dcompaniafecharenovacion" id="dcompaniafecharenovacion" class="form-control clear-data"/>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseModal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnEnviarDatos">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="~/js/CompaniaAseguradora/form-validation.js"></script>
<script type="module" src="~/js/CompaniaAseguradora/compania-aseguradora.js"></script>
