@{
    ViewData["Title"] = "Index";
}


<h1 class="fs-1 fw-lighter my-5">Afiliaciones</h1>

<div class="d-flex w-100 justify-content-end">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success w-25 d-flex gap-2 align-items-center justify-content-center"
    id="btnOpenModal"
    data-bs-toggle="modal"
    data-bs-target="#registerModal"
    onclick="abrirModal()"
  >
    <box-icon type='solid' name='plus-circle' color="#fff"></box-icon>
    Registrar Afiliacion
  </button>
</div>

<div id="table" class="table-responsive my-3"></div>


<!-- Modal de registro -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Formulario Afiliación</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="modal-form" class="modal-body d-flex flex-column gap-2">
        <input type="text" name="nafiliacionid" id="nafiliacionid" class="form-control clear-data d-none" />
        <div>
          <label class="form-label fw-normal text-secondary">Cliente: <span class="text-danger">*</span></label>
            <select name="nclienteid" id="nclienteid" class="form-select clear-data">
            </select>
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Seguro: <span class="text-danger">*</span></label>
            <select name="nseguroid" id="nseguroid" class="form-select clear-data">
            </select>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseModal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnEnviarDatos">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="~/js/Afiliacion/form-validation.js"></script>
<script type="module" src="~/js/Afiliacion/afiliacion.js"></script>